<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.chambit.smartgate">

  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" /><!-- 인터넷 사용 permission -->
  <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 인터넷 사용 permission -->

  <application
    android:name=".App"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".ui.main.mypage.cardmanagement.CardAddActivity" />
    <activity android:name=".ui.login.splash.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.beacon.TicketUsingActivity" />
    <activity android:name=".ui.FriendActivity" />
    <activity android:name=".util.ChoicePopUp" />
    <activity android:name=".util.SetDataActivity" />
    <activity android:name=".ui.main.booking.BookingActivity" />
    <activity android:name=".ui.main.mypage.usedticketlookup.UsedTicketActivity" />
    <activity android:name=".ui.main.mypage.paymentmanagement.PaymentManagementActivity" />
    <activity android:name=".ui.main.mypage.cardmanagement.CardManagementActivity" />
    <activity
      android:name=".ui.main.booking.PlaceInformationActivity"
      android:label="@string/title_activity_place_information" />
    <!--
           Set to true if your app is Standalone, that is, it does not require the handheld
           app to run.
        -->
    <activity android:name=".ui.main.myticket.MyTicketActivity" />
    <activity
      android:name=".ui.main.booking.placelist.PlaceListActivity"
      android:windowSoftInputMode="adjustPan" /> <!-- 카카오 로그인 시 웹 뷰를 띄우기 위한 코드 -->
    <activity
      android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
      android:launchMode="singleTop"
      android:windowSoftInputMode="adjustResize" />
    <activity android:name=".ui.login.LoginActivity" />
    <activity android:name=".ui.main.mypage.MyPageActivity" />
    <activity android:name=".ui.send.SendTicketActivity" />
    <activity android:name=".ui.main.MainActivity" /> <!-- 카카오 앱 키 사용 -->
    <activity android:name=".ui.beacon.BeaconReceiver" />
    <meta-data
      android:name="com.kakao.sdk.AppKey"
      android:value="@string/kakao_app_key" />
  </application>

</manifest>